.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -fx-box-border, -fx-base;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-pref-width: 5px;
    -fx-background-insets: 0;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-view {
    -fx-background-insets: 0, 1 0 1 0;
}

.list-view, .list-cell {
    -fx-background-color: transparent;
}

.text-input:focused {
    -fx-background-radius: 3, 2;
    -fx-background-insets: 0, 1;
    -fx-prompt-text-fill: transparent;
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%),
        -fx-text-box-border), linear-gradient(from 0px 0px to 0px 5px,
        derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.text-area:focused .content {
    -fx-background-radius: 2;
    -fx-background-insets: 0;
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background,
        -9%), -fx-control-inner-background);
}

.bg-transparent {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
